_site/
.sass-cache/
.jekyll-cache/
.bundle/
vendor/
Gemfile.lock
.DS_Store
.env
venv/
__pycache__/
*.pyc
# Логи, кеш, тимчасові файли
_logs/
_cache/
*.log
*.cache
docs/*.docx
docs/.~lock*
googledb*.html
assets/images/favicon.png
